
@import "./constants.scss";
body{
    font-family: $primary-font;
}
.container{
    max-width: $content-width;
    margin: 0 auto;
    padding: 0 20px;
    @include max(desktop){
        // max-width: 90%;
    }
    @include max(tablet){
        max-width: 100%;
    }
    @include max(mobile-l){
        padding: 0 12px;
    }
}